<a href="/pages/reviews-1" class="okendositereview small-hide small-medium">
    <img src="{{ 'super-sleeper-pro-star-rating-icon_108x.webp' | asset_url  }} 108w"
        sizes="
            (max-width: 640px) 54px
        " width="54" height="9.12"  alt="Super Sleeper Pro - Ratings">
    <star-review>10.6K reviews</star-review>
</a>