<div class="bottom_section">
    <ul>
          <li class="priority_club"><a href="/pages/priority-club"><img src="https://cdn.shopify.com/s/files/1/0098/8915/3081/files/ssp-priority-club.svg?v=3815459604146422222" alt="SSP Club" style="width: 17px;">  Priority Club</a></li>
          <li><a href="/pages/shipping"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px" viewBox="0 0 16 16" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                <g transform="translate(-17.000000, -688.000000)" stroke="#2F393B" stroke-width="1.4">
                    <g transform="translate(16.000000, 654.000000)">
                        <g transform="translate(2.000000, 34.000000)">
                            <g transform="translate(0.000000, 1.000000)">
                                <circle cx="7" cy="7" r="7"></circle>
                                <path d="M5,4.66930466 C5.33306113,3.52025177 6.30043398,2.83026649 7.28965652,3.03619154 C8.27887906,3.24211659 9.00149295,4.28390401 9,5.50197849 C9,7.16732616 6.94167984,8 6.94167984,8"></path>
                                <line x1="7.2475" y1="10.5" x2="7.2525" y2="10.5"></line>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg> FAQS</a></li>
          <li><a href="/pages/contact-us"><svg style="align-self: center;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="12px" viewBox="0 0 14 12" version="1.1">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                <g transform="translate(-19.000000, -760.000000)" stroke="#2F393B" stroke-width="1.4">
                    <g transform="translate(16.000000, 654.000000)">
                        <g transform="translate(4.000000, 104.000000)">
                            <g transform="translate(0.000000, 3.000000)">
                                <path d="M1.2,0 L10.8,0 C11.46,0 12,0.5625 12,1.25 L12,8.75 C12,9.4375 11.46,10 10.8,10 L1.2,10 C0.54,10 0,9.4375 0,8.75 L0,1.25 C0,0.5625 0.54,0 1.2,0 Z"></path>
                                <polyline points="12 2 6 6 0 2"></polyline>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg> Contact Us</a></li>
    </ul>
</div>