<div class="safe_checkout">
    <div class="pos_relative">
        <h5><span>We Accept:</span></h5>
        <hr>
    </div>
  <img
    src="https://cdn.shopify.com/s/files/1/0098/8915/3081/files/super_sleeper_pro_payment_accepts.svg?v=1632187717"
    alt="super sleeper pro accept"
    style="">

    <div class="pos_relative">
        <h5><span>Need Assistance?</span></h5>
        <hr>
    </div>
  <h5 class="lowercase">
    <a href="tel:02 9387 4100">Call us on 02 9387 4100</a> or <a href="/pages/contact-us">email us</a>
  </h5>
</div>
