
<div class="new_shipping_table">

    <p style="margin-bottom: 2px!important;" class="color_red"><strong>FREE shipping</strong> on all orders over $150</p>
    <p style="margin-bottom: 0; margin-top: 1em;"><strong>Dispatched next business day</strong><br>Delivery time for domestic orders are as follows:</p>
  
    <table class="table" id="brand_new_shipping_table second">
      <thead>
        <tr style="" class="cust_padding_table">
          <th scope="col" style="text-align: left; border-bottom: none; padding-left: 0px; padding-bottom: 1em;"><strong style="min-width: 142px;
            display: block;">
            <p>Metro Areas:</p></strong></th>
          <td scope="col" style="border-bottom: none; padding-bottom: 1em;">
            <p>3-6 business days</p>
          </td>
        </tr>
      </thead>
      <thead>
        <tr>
          <th scope="col" style="border-bottom: none; text-align: left; padding-left: 0px; padding-top: 0; vertical-align: baseline;">
            <p><strong>Regional Areas:</strong></p>
          </th>
          <td scope="col" style="border-bottom: none; padding-top: 0;">
            <p>7-9 business days <br><span style="font-size: 12px;">(depending on how remote your location is it may take an extra day or two)</span></p>
          </td>
        </tr>
      </thead>
    </table>
  </div>
  