<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  <h1 class="title">
    {{ 'templates.404.subtext' | t }}
  </h1>
  <p>
    {{ 'templates.404.title' | t }}
  </p>
  <a href="/" class="button">
    {{ 'general.continue_shopping' | t }}
  </a>
</div>


<style>
.template-404.page-width{
  max-width: 1020px;
}

  @media (max-width: 780px){
    .template-404.page-width{
      margin-top: 2em;
      margin-bottom: 4em;
    }
  }
</style>