{{ 'new-contact-form.scss.css' | asset_url | stylesheet_tag }}

<div id="contact_page">

  <section class="banner">
    <img src="https://cdn.shopify.com/s/files/1/0098/8915/3081/files/bed-with-book-and-flowers_2700x.jpg?v=1551157118"
      alt="contact us banner" class="img-fluid">
    <h1 class="page-title page-width">{{page.title}}    (National Disability Insurance Scheme)</h1>
  </section>

  <div class="page-width">
    <div class="contents grid_contents">
      <div class="">
        <div class="successFormMsg" style="display: none;">
          Thanks for your message, we will get back to you soon!
        </div>
        <h3>Request an Invoice</h3>
        <p class="drop_us_line">Our products meet Australian Standards*. Please check your eligibility via your Plan Provider to facilitate any claims under your eligible scheme. Super Sleeper Pro™ and our associated brands and companies are not able to advise on your eligibility.

        </p>
        <div class="pify_contact_form pos_relative">

          
          <!--pifyform-start-->

<!--pifyform-start-->
<style>.pifyform.formloading iframe{visibility: hidden !important;} .pifyform.formloading{background-image: url(https://form-builder.pifyapp.com/assets/images/loading.gif?v=4.6);background-position: center 30px;background-size: 30px 30px;background-repeat: no-repeat;}</style>
<div id="pifyform-10956" class="pifyform" style="margin:10px 0;">
<script charset="UTF-8" defer>document.getElementById("pifyform-10956").classList.add("formloading");(function(h){function n(a){return null===a?null:a.scrollHeight>a.clientHeight?a:n(a.parentNode)}function t(b){if(b.data && typeof(b.data)=="string"){var f =null;try{f=JSON.parse(b.data);}catch(e){}if(f!=null&&f.height!=undefined){if(f.formId==undefined){d.style.height=f.height+"px"}else if("pifyform-"+f.formId==d.id){d.style.height=f.height+"px"}}if(f!=null&&f.redirect!=undefined&&f.redirect!=""){window.location.href=f.redirect;}if(f!=null&&f.retsetHeight!=undefined&&f.retsetHeight){d.style.height="520px";window.location.href="#pifyform-10956";}if(document.getElementsByClassName('lazyframe').length>0){var lazyframe=document.getElementsByClassName('lazyframe')[0];lazyframe.style.height="100%";lazyframe.removeAttribute("data-ratio");lazyframe.parentNode.style.overflow='hidden'} if(f!=null&&f.getter){b={};var f=[].concat(f.getter),k,h=f.length,m,c,g,e;for(k=0;k<h;k++){m=k;c=f[k]||{};c.n&&(m=c.n);g=null;try{switch(c.t){case "window":e=window;break;case "scrollParent":e=n(a)||window;break;default:e=a}if(c.e)if("rect"===c.v){g={};var l=e.getBoundingClientRect();g={top:l.top,left:l.left,width:l.width,height:l.height}}else g=e[c.v].apply(e,[].concat(c.e))||!0;else c.s?(e[c.v]=c.s,g=!0):g=e[c.v]||!1}catch(u){}b[m]=g}b.innerState=!p&&!q;a.contentWindow.postMessage(JSON.stringify({queryRes:b}),"*")}}}var d = document.getElementById("pifyform-10956");var a = document.createElement("iframe");d.style.overflowY="auto";d.style.overflowX="hidden";var p=d.style.height&&"auto"!==d.style.height,q="absolute"===d.style.position||window.getComputedStyle&&"absolute"===window.getComputedStyle(d,null).getPropertyValue("position")||d.currentStyle&&"absolute"===d.currentStyle.position;h.addEventListener&&h.addEventListener("message",t,!1);a.src="https://form-builder-an.pifyapp.com/form/s/10956";a.id="form-iframe-10956";a.onload=function(){document.getElementById("pifyform-10956").classList.remove("formloading");a.contentWindow.postMessage(JSON.stringify({parentUrl: window.location.href}), "*");};a.frameBorder=0;a.scrolling="no";a.style.display="block";a.style.minWidth="100%";a.style.width="100px";a.style.height="100%";a.style.border="none";a.style.overflow="auto";setTimeout(function(){if(!document.getElementById("form-iframe-10956")){d.appendChild(a);}},50);})(window);</script>
</div>
<!--pifyform-end-->

          <!--pifyform-end-->
        
        </div>

                  <small style="font-size: 12px;">
*Our products, where required, meet Australian standards.  We do not claim that all products are eligible or meet NDIS criteria. Please check with your Plan Provider prior to proceeding with your purchase.
          </small>
        
      </div>
      <div class="">
        <h3>We Love NDIS</h3>
      

        <div class="reward_program_message">
         <img
                src="https://cdn.shopify.com/s/files/1/0098/8915/3081/files/ssp_we_love_ndis.png?v=1679552477"
                style="width: 45px; height: auto; object-fit:cover;" />
          <span>
          <p style="margin-top: 0;">The NDIS provides funding to eligible people with disabilities and now supports over 500,000 Australians to access the services and support they need.</p>
          
          <p>At Super Sleeper Pro we love helping our customers and have been offering our products to customers who use the NDIS scheme for many years.</p> 
          
          <p>Placing an order is easy, our helpful Sleep Specialists are available 7 days a week and can be contacted on <a href="tel:02 9387 4100">02 9387 4100,</a> either by yourself or your Plan Manager. All you will need to  provide is details of which product(s) you would like to order, your address and your NDIS Number. We will then email an invoice with payment instructions within 24 hours, it's that simple! OR,</p> 
          
          <p>Alternatively, complete the form on this page and an invoice will be emailed to you / your Plan Manager for quick ordering.</p>
          </span>
        </div>

                <h3 class="mt__40">CALL US NOW TO FIND OUT MORE</h3>
        <p class="reward_program_message">
          <span class="icon-call-in fs__40 fl">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-telephone-inbound" viewBox="0 0 16 16">
              <path d="M15.854.146a.5.5 0 0 1 0 .708L11.707 5H14.5a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 1 0v2.793L15.146.146a.5.5 0 0 1 .708 0zm-12.2 1.182a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>
          </span>
          <span class="fs__20 fwb lh__1"><a href="tel:+61 2 9387 4100" class="call_us_now">+61 2 9387 4100</a><br>Our Sleep Specialists are here to help!</span>
        </p>

        <p class="reward_program_message address_location">
          <span class="icon-call-in fs__40 fl">
            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
          </span>
          <span class="fs__20 fwb lh__1"><a href="#" class="call_us_now">Address</a><br>Suite 301, 209 Oxford St, Bondi Junction, NSW 2022</span>
        </p>

      </div>
    </div>
  </div>

</div>


<style>
.drop_us_line a{
  
}
</style>