/* for shiny in ATC  */
.shiny_button:after{
	content:'';
    top:0;
	transform:translateX(100%);
	width:100%;
	height:100%;
	position: absolute;
	animation: slide 2s infinite 2s;
    z-index: 0;
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
  	background: -moz-linear-gradient(111deg,rgba(255,255,255,0) 20%,rgba(255,255,255,0.3) 50%,rgba(255,25,255,0) 99%,rgba(255,255,255,0) 0%);
	background: -webkit-linear-gradient(111deg,rgba(255,255,255,0) 20%,rgba(255,255,255,0.3) 50%,rgba(255,25,255,0) 99%,rgba(255,255,255,0) 0%);
	background: -o-linear-gradient(111deg,rgba(255,255,255,0) 20%,rgba(255,255,255,0.3) 50%,rgba(255,25,255,0) 99%,rgba(255,255,255,0) 0%);
	background: -ms-linear-gradient(111deg,rgba(255,255,255,0) 20%,rgba(255,255,255,0.3) 50%,rgba(255,25,255,0) 99%,rgba(255,255,255,0) 0%);
	background: linear-gradient(111deg,rgba(255,255,255,0) 20%,rgba(255,255,255,0.3) 50%,rgba(255,25,255,0) 99%,rgba(255,255,255,0) 0%);
	box-shadow: none!important;
}

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}
/* end */