.gradient b{
  font-weight: 500;
}

.collection-hero__inner {
  display: flex;
  flex-direction: column;
}

.collection-hero--with-image .collection-hero__inner {
  margin-bottom: 0;
  padding-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .collection-hero.collection-hero--with-image {
    padding: calc(4rem + var(--page-width-margin)) 0
      calc(4rem + var(--page-width-margin));
    overflow: hidden;
  }

  .collection-hero--with-image .collection-hero__inner {
    padding-bottom: 0;
  }
}

.collection-hero__text-wrapper {
  flex-basis: 100%;
  display: flex;
  align-items: flex-start;
  gap: clamp(1rem, 3vw, 3rem);
  margin-top: clamp(1.5rem, 5vw, 3rem);
}

@media screen and (min-width: 750px) {
  .collection-hero {
    padding: 0;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }
}

.collection-hero__title {
  margin: 0 0 clamp(1px, 1vw, 2.5rem);
  font-size: clamp(20px, 2vw, 28px);
  font-weight: 500;
}

.collection-hero__title hr{
  margin: 2px 0 0;
  border: 2px solid;
  max-width: 50px;
  width: 100%;
}

.collection-hero__title + .collection-hero__description {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 14px;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

.collection-hero__title+.collection-hero__description > :first-child{
  margin-top: 0; 
}

.collection-hero__title+.collection-hero__description h2{
  font-size: clamp(16px, 2vw, 20px);
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    margin-bottom: 2rem;
  }

  .collection-hero__description {
    max-width: 66.67%;
  }

  .collection-hero--with-image .collection-hero__description {
    max-width: 100%;
  }
}

.collection-hero--with-image .collection-hero__text-wrapper {
  padding: 5rem 0 4rem;
}

.collection-hero__image-container {
  border: var(--media-border-width) solid rgba(var(--color-foreground), var(--media-border-opacity));
  border-radius: var(--media-radius);
  box-shadow: var(--media-shadow-horizontal-offset)
    var(--media-shadow-vertical-offset)
    var(--media-shadow-blur-radius)
    rgba(var(--color-shadow), var(--media-shadow-opacity));
}

@media screen and (max-width: 749px) {
  .collection-hero__image-container {
    height: 20rem;
  }

  .collection-hero__text-wrapper{
    flex-flow: column;
    align-items: flex-start;
  }

  .collection-hero__title{
    margin-bottom: 0;
  }

  .collection-hero__inner {
    align-items: center;
    flex-direction: row;
    padding-bottom: 0;
  }

  .collection-hero__title+.collection-hero__description{
    margin: 0;
  }
}

@media screen and (min-width: 750px) {
  .collection-hero--with-image .collection-hero__text-wrapper {
    padding: 4rem 2rem 4rem 0;
    flex-basis: 50%;
  }

  .collection-hero__image-container {
    align-self: stretch;
    flex: 1 0 50%;
    margin-left: 3rem;
    min-height: 20rem;
  }
}
