/* custom font properties */
@font-face{
    font-family: 'geograph';
    src: url("3Geograph-Regular.woff");
    font-style: normal;
    font-weight: 400;
  }
  @font-face{
    font-family: 'geograph';
    src: url("4geographwebmedium.woff");
    font-style: normal;
    font-weight: 500;
  }
  @font-face{
    font-family: 'geograph';
    src: url("5geographwebbold.woff");
    font-style: normal;
    font-weight: 600;
  }
  @font-face{
    font-family: 'geograph';
    src: url("6geographwebblack.woff");
    font-style: normal;
    font-weight: 700;
  }
  /* end */