<div class="page-width">
<div class="container okeReviews-dedicated-reviewsWidget">
    <h1 class="text-center">{{ page.title }}</h1>
    <div class="okeReviews-drp-holder" data-oke-reviews-widget=""></div>
</div>
</div>

<style>
    body.okendo-reviews .okeReviews-reviewsAggregate .okeReviews-reviewsAggregate-primary{
        display: none!important;
    }

    body.okendo-reviews .okeReviews-reviewsAggregate-side .okeReviews-reviewsAggregate-side-inner{
        justify-content: center;
    }

    body.okendo-reviews .okeReviews-reviewsAggregate-side .okeReviews-reviewsAggregate-side-inner .okeReviews-ratingDistribution-item-value-count{
        display: flex;
    }
</style>